src/client/Map.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server" xmlns:intf="http://server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="from" type="xsd:string"/>
   <element name="mapReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="mapRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:message name="mapResponse">

      <wsdl:part element="impl:mapReturn" name="mapReturn"/>

   </wsdl:message>

   <wsdl:portType name="Map">

      <wsdl:operation name="map" parameterOrder="from">

         <wsdl:input message="impl:mapRequest" name="mapRequest"/>

         <wsdl:output message="impl:mapResponse" name="mapResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MapSoapBinding" type="impl:Map">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="map">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MapService">

      <wsdl:port binding="impl:MapSoapBinding" name="Map">

         <wsdlsoap:address location="http://localhost:8080//services/Map"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
