src/client/Weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server" xmlns:intf="http://server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="city" type="xsd:string"/>
   <element name="getWeatherReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getWeatherResponse">

      <wsdl:part element="impl:getWeatherReturn" name="getWeatherReturn"/>

   </wsdl:message>

   <wsdl:message name="getWeatherRequest">

      <wsdl:part element="impl:city" name="city"/>

   </wsdl:message>

   <wsdl:portType name="Weather">

      <wsdl:operation name="getWeather" parameterOrder="city">

         <wsdl:input message="impl:getWeatherRequest" name="getWeatherRequest"/>

         <wsdl:output message="impl:getWeatherResponse" name="getWeatherResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WeatherSoapBinding" type="impl:Weather">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getWeather">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWeatherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWeatherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WeatherService">

      <wsdl:port binding="impl:WeatherSoapBinding" name="Weather">

         <wsdlsoap:address location="http://localhost:8080//services/Weather"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
